.kalkulacka{
    display: grid;
    background-color: rgb(69, 72, 73);
    width: 40%;
    height: 80vh;
    margin: 0 auto;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0.25em;
    row-gap: 0.25em;
    padding: 0.5em;
    
}
#display{
    color: rgb(53, 53, 53);
    background-color: rgb(209, 209, 209);
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: right;
    padding: 2em;
}

button{
    border: none;
    background-color: whitesmoke;
    font-size: 1.5em;
}