:root{
    --Main: #121b1d;
    --Backgroudn: #0b222521;
    --White: rgb(255, 255, 255);
    --Extra: rgba(0, 0, 0, 0.5);
}

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.kalkulacka{
    display: grid;
    width: 450px;
    height: 80vh;
    margin: 0 auto;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(4, 1fr);
    border-radius: 1em;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.185);
    
}
#display{
    color: white;
    background-color: var(--Extra);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: right;
    padding: 2em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

#main{
    font-size: 1.75em;
}
#sub{
    font-size: 1.25;
}

button{
    border: none;
    color: white;
    background-color: var(--Main);
    font-size: 1.5em;
    border: var(--Extra) solid 1px;
}

button:hover{
    background-color: var(--Extra);
    
    box-shadow: 5px 2px 5px rgb(56, 56, 56);
}
#plusminus{
    border-bottom-left-radius: 1em;
}
#result{
    border-bottom-right-radius: 1em;
}

body{
    padding: 2em;
    background-color: #3d3d3dee;
}

h1{
    color: white;
}

#result{
    background-color: rgb(255, 187, 0);
}
#result:hover{
    background-color: rgb(255, 207, 75);
}
header{
    padding: 2em;
    position: fixed;
    bottom: 0;
    left: 0;
}